#opcionesMenu{
    padding-top: 20px;
    padding-right: 35px;
    font-size: 25px;
}

/* LOGIN*/
#button_login{
    background-color: #8cc73f;
    border-color: #75a736;
}
#button_login:hover {
   border-top-color: #8cc73f;
   background: #75a736;
   color: #fff;
   }
#button_registro{
    background-color: #8cc73f;
    border-color: #75a736;
}
#button_registro:hover {
   border-top-color: #8cc73f;
   background: #75a736;
   color: #fff;
   }
#titulo_login{
    color: #ef539e;
    font-size: 50px;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
/*VARIOS*/
#texto{
    color: #333;
    font-size: 15px;
}
#login_contenido{
    padding-top: 150px;
    padding-bottom: 80px;
/*
    background: url(../img/fondo/fondo2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
*/
}
#follow{
    color: white;
    font-size: 15px;
}
/* REGISTRO*/
#contenido{
    padding-top: 40px;
    padding-bottom: 80px;
}


#button_cerrarSesion{
    background-color: #bc2286;
    border-color: #bc2286; 
}

#button_actualizar{
    background-color: #8cc73f;
    border-color: #75a736;
}
